In [16]:
s = set()

In [17]:
s.add(1)
s.add(2)
s.add(2)
s.add(1)
s

{1, 2}

In [18]:
s.clear()
s

set()

In [19]:
s = {1,2,3}

In [20]:
sc = s.copy()

In [21]:
s.add(4)

In [22]:
s

{1, 2, 3, 4}

In [23]:
sc.add(5)
sc

{1, 2, 3, 5}

In [26]:
s.difference(sc)   # returns the  different  elements  no tin sc

{4}

In [27]:
sc.difference(s)

{5}

In [30]:
s.difference_update(sc) # removes matching elements from s 
s

{4}

In [33]:
sc.difference_update(s)
sc

{1, 2, 3, 5}

In [35]:
sc

{1, 2, 3, 5}

In [37]:
sc.discard(5)
sc

{1, 2, 3}

In [38]:
s1 = {1,2,3}
s2 = {1,2,4}
s1.intersection(s2)

{1, 2}

In [41]:
s1.intersection_update(s2)
s1

{1, 2}

In [42]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}
s1.isdisjoint(s2)

False

In [43]:
s1.isdisjoint(s3)

True

In [44]:
s1.issubset(s2)

True

In [46]:
s2.issuperset(s1)

True

In [47]:
s1.symmetric_difference(s2)

{4}

In [49]:
s1.union(s2)

{1, 2, 4}

In [51]:
print(s1)
print(s2)

{1, 2}
{1, 2, 4}

In [53]:
s1.update(s2)
s1

{1, 2, 4}